*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    width: 60%;
    margin: auto;
}

.font_signika {
    font-family: Signika, sens serif;
}

.card {
    width: 30%;
    min-width: 300px;
}